<!DOCTYPE html>
<html>

<head>
  <meta charset=utf-8>
  <meta name=viewport content="width=device-width,initial-scale=1">
  <meta name=description content="1ZLAB EMP-IDE是1Z实验室为广大MicroPython ESP32/ESP8266爱好者所开发的一款微型Web集成开发环境,旨在提高开发效率和开发体验">
  <meta name=keywords content=EMP-IDE,1ZLAB,1Z实验室,MicroPython,MicroPythonIDE,ESP32,ESP8266,webrepl,成都码立方科技>
  <link rel="shortcut icon" href=http://src.1zlab.com/1zlab-logo-transparent.png> <link rel=stylesheet href=https://unpkg.com/muse-ui/dist/muse-ui.css>
    <script src=https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js> </script> <script src=https://unpkg.com/muse-ui/dist/muse-ui.js>
    </script> <title>EMP-IDE</title>
  <style>
    body {
      overflow-x: hidden;
      overflow-y: hidden;
      height: 100%;
      width: 100%;
      background: #1e1e1e;
    }
  </style>
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-127068587-1"></script>
  <script>window.dataLayer = window.dataLayer || [];

    function gtag() {
      dataLayer.push(arguments);
    }

    gtag('js', new Date());

    gtag('config', 'UA-127068587-1');</script>
  <link href="{{ url_for('static', filename='./css/chunk-09438221.9fcb523d.css') }}" rel=prefetch>
  <link href="{{ url_for('static', filename='./css/chunk-0ae9009a.7ccac7b3.css') }}" rel=prefetch>
  <link href="{{ url_for('static', filename='./css/chunk-0c3d632b.91ac850b.css') }}" rel=prefetch>
  <link href="{{ url_for('static', filename='./css/chunk-0ed42f22.6d04e539.css') }}" rel=prefetch>
  <link href="{{ url_for('static', filename='./css/chunk-11837a36.0b9dbeff.css') }}" rel=prefetch>
  <link href="{{ url_for('static', filename='./css/chunk-34572102.0b9dbeff.css') }}" rel=prefetch>
  <link href="{{ url_for('static', filename='./css/chunk-3ddea07b.7feb5007.css') }}" rel=prefetch>
  <link href="{{ url_for('static', filename='./css/chunk-3fca29e6.d06980e6.css') }}" rel=prefetch>
  <link href="{{ url_for('static', filename='./css/chunk-4da8133c.fcc41532.css') }}" rel=prefetch>
  <link href="{{ url_for('static', filename='./css/chunk-5260ef46.701f32e3.css') }}" rel=prefetch>
  <link href="{{ url_for('static', filename='./css/chunk-542cd929.91ac850b.css') }}" rel=prefetch>
  <link href="{{ url_for('static', filename='./css/chunk-60b080a3.1ab62ebb.css') }}" rel=prefetch>
  <link href="{{ url_for('static', filename='./css/chunk-78f578b7.7feb5007.css') }}" rel=prefetch>
  <link href="{{ url_for('static', filename='./css/chunk-7cbc0769.94d8ee91.css') }}" rel=prefetch>
  <link href="{{ url_for('static', filename='./css/chunk-b223b738.d06980e6.css') }}" rel=prefetch>
  <link href="{{ url_for('static', filename='./css/chunk-bce18830.e5ff0d51.css') }}" rel=prefetch>
  <link href="{{ url_for('static', filename='./css/chunk-c1859e86.42c093fa.css') }}" rel=prefetch>
  <link href="{{ url_for('static', filename='./css/chunk-c7ba4800.42c093fa.css') }}" rel=prefetch>
  <link href="{{ url_for('static', filename='./css/chunk-c8b94014.b43f01ff.css') }}" rel=prefetch>
  <link href="{{ url_for('static', filename='./css/chunk-cd17ee0e.7df6edf9.css') }}" rel=prefetch>
  <link href="{{ url_for('static', filename='./css/chunk-d1481fca.1ab62ebb.css') }}" rel=prefetch>
  <link href="{{ url_for('static', filename='./css/chunk-edfae2b4.fcc41532.css') }}" rel=prefetch>
  <link href="{{ url_for('static', filename='./css/chunk-f0dad9fa.701f32e3.css') }}" rel=prefetch>
  <link href="{{ url_for('static', filename='./css/chunk-f5095992.25d54002.css') }}" rel=prefetch>
  <link href="{{ url_for('static', filename='./js/chunk-075166f1.3c172f89.js') }}" rel=prefetch>
  <link href="{{ url_for('static', filename='./js/chunk-07bf8f3c.1601555a.js') }}" rel=prefetch>
  <link href="{{ url_for('static', filename='./js/chunk-09438221.8b9226df.js') }}" rel=prefetch>
  <link href="{{ url_for('static', filename='./js/chunk-0ae9009a.9f2a3713.js') }}" rel=prefetch>
  <link href="{{ url_for('static', filename='./js/chunk-0c3d632b.c85c5cbc.js') }}" rel=prefetch>
  <link href="{{ url_for('static', filename='./js/chunk-0ed42f22.632ff2e1.js') }}" rel=prefetch>
  <link href="{{ url_for('static', filename='./js/chunk-11837a36.47547e96.js') }}" rel=prefetch>
  <link href="{{ url_for('static', filename='./js/chunk-11fb843e.5d9c2503.js') }}" rel=prefetch>
  <link href="{{ url_for('static', filename='./js/chunk-1352254c.ccc33a0e.js') }}" rel=prefetch>
  <link href="{{ url_for('static', filename='./js/chunk-1e61c374.450e81a4.js') }}" rel=prefetch>
  <link href="{{ url_for('static', filename='./js/chunk-2d0a402c.87fec7c7.js') }}" rel=prefetch>
  <link href="{{ url_for('static', filename='./js/chunk-2d0a4745.2e2ba8d9.js') }}" rel=prefetch>
  <link href="{{ url_for('static', filename='./js/chunk-2d0ab0c9.fa94fba3.js') }}" rel=prefetch>
  <link href="{{ url_for('static', filename='./js/chunk-2d0abbfd.30910c2c.js') }}" rel=prefetch>
  <link href="{{ url_for('static', filename='./js/chunk-2d0ae57a.fc79c105.js') }}" rel=prefetch>
  <link href="{{ url_for('static', filename='./js/chunk-2d0ae589.7cd8488a.js') }}" rel=prefetch>
  <link href="{{ url_for('static', filename='./js/chunk-2d0af04a.e7ace5dc.js') }}" rel=prefetch>
  <link href="{{ url_for('static', filename='./js/chunk-2d0af25f.eb897f00.js') }}" rel=prefetch>
  <link href="{{ url_for('static', filename='./js/chunk-2d0b59c3.63610002.js') }}" rel=prefetch>
  <link href="{{ url_for('static', filename='./js/chunk-2d0b6d28.bd864b37.js') }}" rel=prefetch>
  <link href="{{ url_for('static', filename='./js/chunk-2d0b9420.0cb4b36b.js') }}" rel=prefetch>
  <link href="{{ url_for('static', filename='./js/chunk-2d0b9ba8.c347971f.js') }}" rel=prefetch>
  <link href="{{ url_for('static', filename='./js/chunk-2d0ba189.075c9cd8.js') }}" rel=prefetch>
  <link href="{{ url_for('static', filename='./js/chunk-2d0bd3c7.a18923cf.js') }}" rel=prefetch>
  <link href="{{ url_for('static', filename='./js/chunk-2d0bdcd1.55481e55.js') }}" rel=prefetch>
  <link href="{{ url_for('static', filename='./js/chunk-2d0be185.00266185.js') }}" rel=prefetch>
  <link href="{{ url_for('static', filename='./js/chunk-2d0c0e14.acc4673f.js') }}" rel=prefetch>
  <link href="{{ url_for('static', filename='./js/chunk-2d0c0e34.e84ea9c9.js') }}" rel=prefetch>
  <link href="{{ url_for('static', filename='./js/chunk-2d0c1eac.a51c9c35.js') }}" rel=prefetch>
  <link href="{{ url_for('static', filename='./js/chunk-2d0c4293.191e4114.js') }}" rel=prefetch>
  <link href="{{ url_for('static', filename='./js/chunk-2d0c46f2.af0f61ee.js') }}" rel=prefetch>
  <link href="{{ url_for('static', filename='./js/chunk-2d0c5236.a475074d.js') }}" rel=prefetch>
  <link href="{{ url_for('static', filename='./js/chunk-2d0c8085.d15da5e7.js') }}" rel=prefetch>
  <link href="{{ url_for('static', filename='./js/chunk-2d0c8691.47a59364.js') }}" rel=prefetch>
  <link href="{{ url_for('static', filename='./js/chunk-2d0cc057.0035100b.js') }}" rel=prefetch>
  <link href="{{ url_for('static', filename='./js/chunk-2d0cf123.4a1bea35.js') }}" rel=prefetch>
  <link href="{{ url_for('static', filename='./js/chunk-2d0cf8b4.13da3415.js') }}" rel=prefetch>
  <link href="{{ url_for('static', filename='./js/chunk-2d0cfa98.61669a6e.js') }}" rel=prefetch>
  <link href="{{ url_for('static', filename='./js/chunk-2d0d0446.f3f6d505.js') }}" rel=prefetch>
  <link href="{{ url_for('static', filename='./js/chunk-2d0d3720.ce5217b2.js') }}" rel=prefetch>
  <link href="{{ url_for('static', filename='./js/chunk-2d0d43e7.a2bf52af.js') }}" rel=prefetch>
  <link href="{{ url_for('static', filename='./js/chunk-2d0d5c99.27a8d533.js') }}" rel=prefetch>
  <link href="{{ url_for('static', filename='./js/chunk-2d0d620f.7bb30ed4.js') }}" rel=prefetch>
  <link href="{{ url_for('static', filename='./js/chunk-2d0d6b33.6c0f5622.js') }}" rel=prefetch>
  <link href="{{ url_for('static', filename='./js/chunk-2d0d6b45.c988aa9e.js') }}" rel=prefetch>
  <link href="{{ url_for('static', filename='./js/chunk-2d0d7279.6c748e44.js') }}" rel=prefetch>
  <link href="{{ url_for('static', filename='./js/chunk-2d0de6a9.7717cba2.js') }}" rel=prefetch>
  <link href="{{ url_for('static', filename='./js/chunk-2d0de70f.4ddd4a46.js') }}" rel=prefetch>
  <link href="{{ url_for('static', filename='./js/chunk-2d0e235d.0e267c38.js') }}" rel=prefetch>
  <link href="{{ url_for('static', filename='./js/chunk-2d0e26e8.d50fed6a.js') }}" rel=prefetch>
  <link href="{{ url_for('static', filename='./js/chunk-2d0e2cb6.a846eb86.js') }}" rel=prefetch>
  <link href="{{ url_for('static', filename='./js/chunk-2d0e48ee.d9d14a00.js') }}" rel=prefetch>
  <link href="{{ url_for('static', filename='./js/chunk-2d0e4a7b.e6023d22.js') }}" rel=prefetch>
  <link href="{{ url_for('static', filename='./js/chunk-2d0e64c6.948e8e65.js') }}" rel=prefetch>
  <link href="{{ url_for('static', filename='./js/chunk-2d0e9011.48280a0a.js') }}" rel=prefetch>
  <link href="{{ url_for('static', filename='./js/chunk-2d0e903c.f95c33a6.js') }}" rel=prefetch>
  <link href="{{ url_for('static', filename='./js/chunk-2d0f0d79.aba1469a.js') }}" rel=prefetch>
  <link href="{{ url_for('static', filename='./js/chunk-2d0f0f77.71058055.js') }}" rel=prefetch>
  <link href="{{ url_for('static', filename='./js/chunk-2d208dee.74328e82.js') }}" rel=prefetch>
  <link href="{{ url_for('static', filename='./js/chunk-2d208fef.095b556e.js') }}" rel=prefetch>
  <link href="{{ url_for('static', filename='./js/chunk-2d2091c9.7c30e42f.js') }}" rel=prefetch>
  <link href="{{ url_for('static', filename='./js/chunk-2d20923b.113569e0.js') }}" rel=prefetch>
  <link href="{{ url_for('static', filename='./js/chunk-2d2100b7.bbe6fda3.js') }}" rel=prefetch>
  <link href="{{ url_for('static', filename='./js/chunk-2d21046a.2674f521.js') }}" rel=prefetch>
  <link href="{{ url_for('static', filename='./js/chunk-2d212fc2.90365db6.js') }}" rel=prefetch>
  <link href="{{ url_for('static', filename='./js/chunk-2d216052.c04a2c6a.js') }}" rel=prefetch>
  <link href="{{ url_for('static', filename='./js/chunk-2d216fc5.97ac244d.js') }}" rel=prefetch>
  <link href="{{ url_for('static', filename='./js/chunk-2d2172ec.18a0f907.js') }}" rel=prefetch>
  <link href="{{ url_for('static', filename='./js/chunk-2d21a461.4a2b976f.js') }}" rel=prefetch>
  <link href="{{ url_for('static', filename='./js/chunk-2d21d862.b29e74b0.js') }}" rel=prefetch>
  <link href="{{ url_for('static', filename='./js/chunk-2d221834.19276a1e.js') }}" rel=prefetch>
  <link href="{{ url_for('static', filename='./js/chunk-2d221dd6.9a597c4c.js') }}" rel=prefetch>
  <link href="{{ url_for('static', filename='./js/chunk-2d221e25.02b6512e.js') }}" rel=prefetch>
  <link href="{{ url_for('static', filename='./js/chunk-2d225244.62eef143.js') }}" rel=prefetch>
  <link href="{{ url_for('static', filename='./js/chunk-2d2255fa.04ed99ec.js') }}" rel=prefetch>
  <link href="{{ url_for('static', filename='./js/chunk-2d225dc7.e5c474e4.js') }}" rel=prefetch>
  <link href="{{ url_for('static', filename='./js/chunk-2d228e9f.71c9b3f6.js') }}" rel=prefetch>
  <link href="{{ url_for('static', filename='./js/chunk-2d22c8dd.dd9fb946.js') }}" rel=prefetch>
  <link href="{{ url_for('static', filename='./js/chunk-2d230ab1.008ff684.js') }}" rel=prefetch>
  <link href="{{ url_for('static', filename='./js/chunk-2d23720c.404415ee.js') }}" rel=prefetch>
  <link href="{{ url_for('static', filename='./js/chunk-2d23778d.d01e3efc.js') }}" rel=prefetch>
  <link href="{{ url_for('static', filename='./js/chunk-34572102.5a4b9c9b.js') }}" rel=prefetch>
  <link href="{{ url_for('static', filename='./js/chunk-37dad856.d52b8228.js') }}" rel=prefetch>
  <link href="{{ url_for('static', filename='./js/chunk-3ddea07b.6ccb3a93.js') }}" rel=prefetch>
  <link href="{{ url_for('static', filename='./js/chunk-3ec383d7.02cb716f.js') }}" rel=prefetch>
  <link href="{{ url_for('static', filename='./js/chunk-3fa7e991.8227b34e.js') }}" rel=prefetch>
  <link href="{{ url_for('static', filename='./js/chunk-3fca29e6.8c994e8f.js') }}" rel=prefetch>
  <link href="{{ url_for('static', filename='./js/chunk-475760ca.75abbf5b.js') }}" rel=prefetch>
  <link href="{{ url_for('static', filename='./js/chunk-4da8133c.b81b1769.js') }}" rel=prefetch>
  <link href="{{ url_for('static', filename='./js/chunk-5260ef46.6e6c8741.js') }}" rel=prefetch>
  <link href="{{ url_for('static', filename='./js/chunk-542cd929.0fc23fe7.js') }}" rel=prefetch>
  <link href="{{ url_for('static', filename='./js/chunk-5b9a9dd8.7ad1be42.js') }}" rel=prefetch>
  <link href="{{ url_for('static', filename='./js/chunk-60b080a3.b7cf9927.js') }}" rel=prefetch>
  <link href="{{ url_for('static', filename='./js/chunk-69eca88c.b2d57f19.js') }}" rel=prefetch>
  <link href="{{ url_for('static', filename='./js/chunk-78f578b7.44b09dee.js') }}" rel=prefetch>
  <link href="{{ url_for('static', filename='./js/chunk-7cbc0769.d99b755b.js') }}" rel=prefetch>
  <link href="{{ url_for('static', filename='./js/chunk-83f2686c.5e7ef753.js') }}" rel=prefetch>
  <link href="{{ url_for('static', filename='./js/chunk-8826505e.83d04245.js') }}" rel=prefetch>
  <link href="js/chunk-95262fda.29127ba2.js'" rel=prefetch>
  <link href="{{ url_for('static', filename='./js/chunk-b223b738.7a4f7c2e.js') }}" rel=prefetch>
  <link href="{{ url_for('static', filename='./js/chunk-bce18830.6a3460d2.js') }}" rel=prefetch>
  <link href="{{ url_for('static', filename='./js/chunk-c1859e86.0e47dafb.js') }}" rel=prefetch>
  <link href="{{ url_for('static', filename='./js/chunk-c7ba4800.a43699be.js') }}" rel=prefetch>
  <link href="{{ url_for('static', filename='./js/chunk-c8b94014.567ff0b8.js') }}" rel=prefetch>
  <link href="{{ url_for('static', filename='./js/chunk-cd17ee0e.31875408.js') }}" rel=prefetch>
  <link href="{{ url_for('static', filename='./js/chunk-d1481fca.5c190b80.js') }}" rel=prefetch>
  <link href="{{ url_for('static', filename='./js/chunk-ecd83e40.2f3d47df.js') }}" rel=prefetch>
  <link href="{{ url_for('static', filename='./js/chunk-edfae2b4.8c675013.js') }}" rel=prefetch>
  <link href="{{ url_for('static', filename='./js/chunk-f0dad9fa.93670731.js') }}" rel=prefetch>
  <link href="{{ url_for('static', filename='./js/chunk-f5095992.5efcac26.js') }}" rel=prefetch>
  <link href="{{ url_for('static', filename='./css/app.39efe745.css') }}" rel=preload as=style>
  <link href="{{ url_for('static', filename='./css/chunk-vendors.2f883a2c.css') }}" rel=preload as=style>
  <link href="{{ url_for('static', filename='./js/app.416dccb4.js') }}" rel=preload as=script>
  <link href="{{ url_for('static', filename='./js/chunk-vendors.8d7a9294.js') }}" rel=preload as=script>
  <link href="{{ url_for('static', filename='./css/chunk-vendors.2f883a2c.css') }}" rel=stylesheet>
  <link href="{{ url_for('static', filename='./css/app.39efe745.css') }}" rel=stylesheet>
</head>

<body>
  <div id=app></div>
  <script src="{{ url_for('static', filename='./js/chunk-vendors.8d7a9294.js') }}"></script>
  <script src="{{ url_for('static', filename='./js/app.416dccb4.js') }}"></script>
</body>

</html>